<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuwaikeji.luyou.persistence.GroupMemberMapper" >
 
   <!--  
  <resultMap id="groupMember" type="GroupMemberDomain">
  	<result column="user_id" property="userId" jdbcType="BIGINT"/>
  	<association property="userGroupInfo" column="group_id" javaType="UserGroupInfoDomain" resultMap="userGroupInfo" select="selectGroup"/>
  	<collection property="memberList" column="{groupId=group_id,userId=user_id}" select="selectMember"></collection>
  </resultMap>
  
  <resultMap id="groupMemberInfo" type="GroupMemberInfoDomain" >
    <result column="group_id" property="groupId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="hx_uuid" property="hxUUID" jdbcType="BIGINT" />
    <result column="hx_username" property="hxUsername" jdbcType="TIMESTAMP" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="userGroupMember" type="UserGroupMemberDomain" >
    <result column="group_id" property="groupId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="invite_user" property="inviteUser" jdbcType="BIGINT" />
    <result column="join_time" property="joinTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="level" property="status" jdbcType="level" />
  </resultMap>
  <sql id="PRE_USER_GROUP_MEMBER_COLUMN">
  	ugm.group_id,ugm.user_id,ugm.invite_user,ugm.join_time,ugm.status,ugm.level
  </sql>
  <resultMap id="userGroupInfo" type="UserGroupInfoDomain" >
    <id column="group_id" property="groupId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
    <result column="comments" property="comments" jdbcType="VARCHAR" />
    <result column="user_num" property="userNum" jdbcType="INTEGER" />
    <result column="group_status" property="groupStatus" jdbcType="TINYINT" />
  </resultMap>
  <sql id="PRE_USER_GROUP_INFO_COLUMN" >
    ugi.group_id, ugi.group_name,ugi.user_id, ugi.create_time, ugi.comments, ugi.user_num, ugi.group_status
  </sql>
  <resultMap id="userRelations" type="UserRelationsDomain" >
    <id column="user_id1" property="userId1" jdbcType="BIGINT" />
    <id column="user_id2" property="userId2" jdbcType="BIGINT" />
    <result column="is_blacklist" property="isBlacklist" jdbcType="BIT" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="label" property="label" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="CHAR" />
    <result column="link_time" property="linkTime" jdbcType="TIMESTAMP" />
    <result column="apply_time" property="applyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="PRE_USER_RELATIONS_COLUMN" >
    ur.user_id1, ur.user_id2, ur.is_blacklist, ur.tag, ur.label, ur.source, ur.link_time, ur.apply_time
  </sql>
  <resultMap id="userInfoHXDomainResultMap" type="UserInfoHXDomain" >
    <id column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="hx_uuid" property="hxUUID" jdbcType="VARCHAR" />
    <result column="hx_username" property="hxUsername" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="PRE_USER_INFO_HX_COLUMN" >
    uihx.user_id, uihx.password,uihx.hx_uuid,uihx.hx_username
  </sql>
  <resultMap type="UserInfoDomain" id="userInfo">
		<result column="user_id" property="userId" />
		<result column="nick_name" property="nickname" />
		<result column="mobile_number" property="mobileNumber" />
		<result column="mobile_verify_status" property="mobileVerifyStatus" />
		<result column="password" property="password" />
		<result column="name" property="name" />
		<result column="gender" property="gender" />
		<result column="birthday" property="birthday" />
		<result column="city_code" property="cityCode" />
		<result column="district_code" property="districtCode" />
		<result column="signature" property="signature" />
		<result column="user_icon" property="userIcon" />
		<result column="approve_type" property="approveType" />
		<result column="show_in_map" property="showInMap" />
		<result column="pic_view_limit" property="picViewLimit" />
		<result column="recommend_id" property="recommendId" />
		<result column="reg_time" property="regTime" />
		<result column="new_message_switch" property="newMessageSwitch" />
		<result column="stranger_message_switch" property="strangerMessageSwitch" />
		<result column="get_driving_licence_time" property="getDrivingLicenceTime" />
		<result column="driving_licencs_url" property="drivingLicencsUrl" />
		<result column="identity_card_front_url" property="identityCardFrontUrl" />
		<result column="identity_card_back_url" property="identityCardBackUrl" />
		<result column="user_type" property="userType" />
		<result column="provider_id" property="providerId" />
		<result column="status" property="status" />
		<result column="praise_times" property="praiseTimes" />
		<result column="stamp_times" property="stampTimes" />
	</resultMap>
	<sql id="PRE_USER_INFO_COLUMN">
		ui.user_id,ui.nick_name,ui.mobile_number,ui.mobile_verify_status,ui.password,ui.name,ui.gender,ui.birthday,ui.city_code,ui.district_code,ui.signature,
		ui.user_icon,ui.approve_type,ui.show_in_map,ui.pic_view_limit,ui.recommend_id,ui.reg_time,ui.new_message_switch,ui.stranger_message_switch,
		ui.get_driving_licence_time,ui.driving_licencs_url,ui.identity_card_front_url,ui.identity_card_back_url,ui.user_type,ui.provider_id,ui.status
	</sql>
	<select id="selectGroupsMembers" resultMap="groupMember">
		SELECT distinct 
		<include refid="PRE_USER_GROUP_INFO_COLUMN"/>
		 from user_group_members ugm
		where ugm.user_id=#{userId}
	</select>
	<select id="selectMember" resultMap="groupMemberInfo">
		SELECT * FROM user_info ui,user_info_hx uih,user_relations ur,user_group_info ugi,user_group_members ugm
		WHERE ui.user_id=uih.user_id AND ur.user_id2=ui.user_id AND ugi.group_id=ugm.group_id AND ui.user_id=#{userId} and ugm.group_id=#{groupId}
	</select>
	<select id="selectGroup" resultMap="userGroupInfo">
		select 
		<include refid="PRE_USER_GROUP_INFO_COLUMN"/>
		from user_group_info ugi
		where ugi.group_id=#{groupId}
	</select>
-->
</mapper>