<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuwaikeji.luyou.persistence.UserCircleMsgPictureMapper">
	<resultMap type="UserCircleMsgPicturesDomain" id="picDomain">
		<id column="message_id" property="messageId" />
		<result column="pic_url" property="picUrl" />
	</resultMap>
	<!-- 新增图片 -->
	<insert id="add">
		INSERT INTO user_circle_msg_pictures
		(message_id,pic_url)
		VALUES
		(#{messageId},#{picUrl})
	</insert>

	<delete id="deleteMsgId">
		delete from user_circle_msg_pictures
		WHERE message_id =#{msgId}
	</delete>
	<!-- 消息列表 -->
	<select id="list" resultMap="picDomain">
		SELECT * FROM user_circle_msg_pictures
		WHERE message_id =#{msgId}
	</select>
</mapper>