<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/jee
	http://www.springframework.org/schema/jee/spring-jee-3.0.xsd 
                    http://www.springframework.org/schema/task 
                    http://www.springframework.org/schema/task/spring-task-3.0.xsd">


	<bean id="placeholderConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:spring_init.properties</value>
		</property>
	</bean>
	<jee:jndi-lookup id="dataSource" jndi-name="${jndi_jdbc}" resource-ref="true" />

	<!-- 定义全局的事务控制 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- 开启注解方式声明事务 -->
	<tx:annotation-driven />
	<!-- 定义SqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- <property name="mapperLocations" value="classpath*:com/jsdz/xml/*.xml" /> -->
		<property name="typeAliasesPackage" value="com.iyoumei.entity" />
	</bean>

	<!-- 自动扫描 mapper,允许自动注入(根据类型匹配),不需要逐个配置mapper -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.iyoumei.mapper" />
	</bean>
	<!-- 选择签名验证拦截器 -->
	<bean id="alternateInterceptor" class="com.iyoumei.interceptor.AlternateInterceptor">
	</bean>
	<!-- 登录后签名验证拦截器 -->
	<bean id="loginSignInterceptor" class="com.iyoumei.interceptor.LoginSignInterceptor">
	</bean>
	<!-- 登录前签名验证拦截器 -->
	<bean id="noLoginSignInterceptor" class="com.iyoumei.interceptor.NoLoginSignInterceptor" />

	
</beans>
