<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuwaikeji.luyou.persistence.BrandMapper">
	<cache flushInterval="600000"/>
	<!-- 获取品牌最后一次更新时间 -->
	<select id="lastUpdateTime" resultType="date">
		SELECT MAX(update_time) FROM brand 
	</select>
	<!-- 读取品牌列表 -->
	<select id="getBrandList" resultType="com.wuwaikeji.luyou.bean.BrandBean">
		SELECT brand_id as brandId,brand_name as brandName,brand_icon as brandIcon,brand_letter as brandLetter FROM brand
	</select>
	
</mapper>