<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuwaikeji.luyou.persistence.UserSettingsMapper" >
  <update id="updateRegularfriend">
    UPDATE user_relations
	SET regular_friend=#{regularFriend}
	WHERE user_id1=#{user1} and user_id2=#{user2};
  </update>
   <update id="updateFriendCircle1">
    UPDATE user_relations
	SET friend_circle1=#{friendCircle1}
	WHERE user_id1=#{user1} and user_id2=#{user2};
  </update>
  <update id="updateFriendCircle2">
    UPDATE user_relations
	SET friend_circle2=#{friendCircle2}
	WHERE user_id1=#{user1} and user_id2=#{user2};
  </update>
  <update id="updateFriendMap">
    UPDATE user_relations
	SET friend_map=#{friendMap}
	WHERE user_id1=#{user1} and user_id2=#{user2};
  </update>
  <update id="updateApproveTypeSwitch">
	UPDATE user_info
	SET approve_type=#{approveTypeSwitch}
	WHERE user_id=#{userId};
  </update>
  <update id="updateMobileNumberSwitch">
	UPDATE user_info
	SET mobile_number_switch=#{mobileNumberSwitch}
	WHERE user_id=#{userId};
  </update>
  <update id="updateLicencePlateSwitch">
	UPDATE user_info
	SET licence_plate_switch=#{licencePlateSwitch}
	WHERE user_id=#{userId};
  </update>
  <update id="updateShowInMap">
	UPDATE user_info
	SET show_in_map=#{showInMap}
	WHERE user_id=#{userId};
  </update>
  <update id="updateStrangerMessageSwitch">
	UPDATE user_info
	SET stranger_message_switch=#{strangerMessageSwitch}
	WHERE user_id=#{userId};
  </update>
  <update id="updatePicViewLimit">
	UPDATE user_info
	SET pic_view_limit=#{picViewLimit}
	WHERE user_id=#{userId};
  </update>
</mapper>