<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuwaikeji.luyou.persistence.UserGroupMemberMapper" >
  <resultMap id="BaseResultMap" type="UserGroupMemberDomain" >
    <result column="group_id" property="groupId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="invite_user" property="inviteUser" jdbcType="BIGINT" />
    <result column="join_time" property="joinTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="level" property="level" jdbcType="TINYINT" />
  </resultMap>
  <sql id="BASIC_COLUMN">
  	group_id,user_id,invite_user,join_time,status,level
  </sql>
  <select id="select">
  	select <include refid="BASIC_COLUMN"/>
  	from user_group_members
  	where group_id=#{groupId} and user_id=#{userId}
  </select>
  <insert id="insert" parameterType="UserGroupMemberDomain" >
    insert into user_group_members (group_id, user_id, invite_user, 
      join_time, status,level)
    values (#{groupId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{inviteUser,jdbcType=BIGINT}, 
      #{joinTime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT},#{level,jdbcType=TINYINT})
  </insert>
  <delete id="deleteGroupAll">
  	delete from user_group_members where group_id=#{groupId}
  </delete>
  <delete id="deleteMember">
  	delete from user_group_members where group_id=#{groupId} and user_id=#{userId}
  </delete>
  <insert id="insertSelective" parameterType="UserGroupMemberDomain" >
    insert into user_group_members
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="inviteUser != null" >
        invite_user,
      </if>
      <if test="joinTime != null" >
        join_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="level != null" >
        level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        #{groupId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="inviteUser != null" >
        #{inviteUser,jdbcType=BIGINT},
      </if>
      <if test="joinTime != null" >
        #{joinTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="level != null" >
        #{level,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
</mapper>