<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuwaikeji.luyou.persistence.UserFullInfoMapper">
	<resultMap type="UserFullInfoDomain" id="userFullInfo">
		<association property="userInfo" resultMap="userInfo"></association>
		<association property="userInfoHX" resultMap="userInfoHXDomainResultMap"></association>
	</resultMap>
	<resultMap type="UserInfoDomain" id="userInfo">
		<result column="user_id" property="userId" />
		<result column="nick_name" property="nickname" />
		<result column="mobile_number" property="mobileNumber" />
		<result column="mobile_verify_status" property="mobileVerifyStatus" />
		<result column="password" property="password" />
		<result column="name" property="name" />
		<result column="gender" property="gender" />
		<result column="birthday" property="birthday" />
		<result column="city_code" property="cityCode" />
		<result column="district_code" property="districtCode" />
		<result column="signature" property="signature" />
		<result column="user_icon" property="userIcon" />
		<result column="approve_type" property="approveType" />
		<result column="show_in_map" property="showInMap" />
		<result column="pic_view_limit" property="picViewLimit" />
		<result column="recommend_id" property="recommendId" />
		<result column="reg_time" property="regTime" />
		<result column="new_message_switch" property="newMessageSwitch" />
		<result column="stranger_message_switch" property="strangerMessageSwitch" />
		<result column="get_driving_licence_time" property="getDrivingLicenceTime" />
		<result column="driving_licencs_url" property="drivingLicencsUrl" />
		<result column="identity_card_front_url" property="identityCardFrontUrl" />
		<result column="identity_card_back_url" property="identityCardBackUrl" />
		<result column="user_type" property="userType" />
		<result column="provider_id" property="providerId" />
		<result column="status" property="status" />
		<result column="praise_times" property="praiseTimes" />
		<result column="stamp_times" property="stampTimes" />
	</resultMap>
	<resultMap id="userInfoHXDomainResultMap" type="UserInfoHXDomain" >
	    <id column="user_id" property="userId" jdbcType="BIGINT" />
	    <result column="password" property="password" jdbcType="VARCHAR" />
	    <result column="hx_uuid" property="hxUUID" jdbcType="VARCHAR" />
	    <result column="hx_username" property="hxUsername" jdbcType="VARCHAR" />
	  </resultMap>
	<sql id="USER_INFO_COLUMN">
		user_id,nick_name,mobile_number,mobile_verify_status,password,name,gender,birthday,city_code,district_code,signature,
		user_icon,approve_type,show_in_map,pic_view_limit,recommend_id,reg_time,new_message_switch,stranger_message_switch,
		get_driving_licence_time,driving_licencs_url,identity_card_front_url,identity_card_back_url,user_type,provider_id,status
	</sql>
	<sql id="USER_INFO_HX_COLUMN">
		user_id, password,hx_uuid,hx_username
	</sql>
	<sql id="USER_GROUP_COLUMN">
		
	</sql>
</mapper>